@media screen and (max-width: 1199px) {
  .post_container {
    flex-direction: column;
  }

  .post_img {
    width: 100%;
    height: 200px;
  }

  .post_lowerContainer {
    flex-direction: column;
  }

  .post_emotionsContainer {
    margin-top: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .post_lowerContainer {
    width: 100%;
  }

  .post_emotionsContainer {
    flex-direction: column;
    margin-left: auto;
  }

  .post_authorEmotionsContainer {
    flex-direction: column;
  }

  .post_likesCommentContainer {
    flex-direction: column;
  }

  .post_comment {
    flex-direction: column;
  }
}

.post_container {
  display: flex;
  background-color: #161b22;
  min-height: 350px;
  padding: 15px;
  border: 1px solid #30363d;
  border-radius: 6px;
  margin: 10px 20px;
}
.post_upperContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post_title {
  margin-top: 10px;
  font-size: 30px;
  color: white;
}

.post_lowerContainer {
  display: flex;
  margin: 10px;
}

.post_text {
  font-size: 15px;
  color: whitesmoke;
}

.post_emotionsContainer {
  display: flex;
  gap: 15px;
  justify-content: space-between;
  align-items: center;
}

.post_likesCommentContainer {
  display: flex;
  gap: 20px;
  align-items: center;
}

.post_likes {
  display: flex;
  align-items: center;
  color: #fff;
  background: inherit;
  border: inherit;
  padding: 0;
  gap: 4px;
}

.post_comment {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 13.3px;
  gap: 4px;
}

.post_authorEmotionsContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.post_updateBtn {
  background-color: inherit;
}

.post_deleteBtn {
  background-color: inherit;
}
