.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(137, 137, 137, 0.2);
  z-index: 1200;
}

.modal {
  position: absolute;
  width: calc(90vw);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  background-color: #fcfcfc;
  border: 1px solid #fcfcfc;
  border-radius: 8px;
  padding: 24px;
}

@media screen and (min-width: 375px) {
  .modal {
    width: 335px;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    width: 650px;
  }
}

.closeButton {
  position: absolute;
  top: 14px;
  right: 14px;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
