@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 600;
  src: url(/src/assets/fonts/Prompt-LightItalic.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: 'Prompt', sans-serif;
  background: #0d1117;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  font-family: inherit;
  border: none;
  cursor: pointer;
}

input,
textarea {
  font-family: inherit;

  &:focus {
    outline: none;
  }
}

img {
  display: block;
  border: none;
  object-fit: cover;
}
